<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nemiro.OAuth" version="1.10" targetFramework="net45" />
  <package id="Nemiro.OAuth.LoginForms" version="1.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Rsft.DataReader.Regex" version="1.0.0" targetFramework="net45" />
  <package id="Vlc.DotNet.Core" version="2.1.62" targetFramework="net45" />
  <package id="Vlc.DotNet.Core.Interops" version="2.1.62" targetFramework="net45" />
  <package id="Vlc.DotNet.Forms" version="2.1.62" targetFramework="net45" />
  <package id="Vlc.DotNet.Wpf" version="2.1.62" targetFramework="net45" />
</packages>